In [1]:
import pandas as pd
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1 Adding a new column

## 1.1 Adding a new column with scalar value

In [2]:
# adding new column to dataframe
df_exams['language score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

## 1.2 Adding a new columnwith an array

####  dataframe has 1000 rows, so we need to create an array with 1000 elements

In [3]:
# import numpy
import numpy as np

In [5]:
# create an array of 1000 elements
language_score = np.arange(0,1000)

In [6]:
# length of the array
len(language_score)

1000

In [8]:
# adding a new column to a dataframe with an array
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [15]:
# create random integer numbers between 1 and 100
int_language_score = np.random.randint(1,100,size = 1000)

In [16]:
# min value inclusive and higher value excliusive
min(int_language_score)
max(int_language_score)

99

In [17]:
# adding a new column to a dataframe with an array
df_exams['language score'] = int_language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,88
1,female,group C,some college,standard,completed,69,90,88,47
2,female,group B,master's degree,standard,none,90,95,93,57
3,male,group A,associate's degree,free/reduced,none,47,57,44,25
4,male,group C,some college,standard,none,76,78,75,92
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94
996,male,group C,high school,free/reduced,none,62,55,55,91
997,female,group C,high school,free/reduced,completed,59,71,65,23
998,female,group D,some college,standard,completed,68,78,77,93
999,female,group D,some college,free/reduced,none,77,86,86,66

In [20]:
# create random float numbers between 1 and 100
f_val = np.random.uniform(1,100,size = 1000)
f_val

array([28.59150019, 62.63861701, 18.84345663, 18.77237069, 62.3783917 ,
       71.21076638, 74.16236566, 46.63465506, 51.42119945, 87.60386206,
       21.43071076, 77.69646258, 98.48627914, 44.09926671, 93.39709919,
       46.68685323, 78.17435493, 91.62151204, 72.90306039, 91.87837066,
        1.71221696, 29.73942652, 11.44540325, 32.64803715, 87.9812026 ,
       65.80099134, 38.13303746,  2.57648033, 30.62542103, 10.52760947,
       21.21407612, 80.10621902, 51.03004019, 77.10979725, 29.09293546,
        4.26268169, 81.06690236, 11.06924357, 17.97785308,  7.54389424,
       37.67298932, 32.18700977, 41.18611517, 24.43048308, 64.80537693,
       21.94201181, 68.78007166, 85.89186919, 61.14811964, 14.34616542,
       15.17449073, 58.39494076, 30.28732641, 12.28601794, 64.90436241,
       24.70402201, 30.02719215, 45.29292974, 56.11680844, 36.16576163,
        7.20174672, 69.26179239, 49.4357604 , 35.69422043, 67.37729906,
       53.98541849, 81.72472264, 87.55523173, 50.61284594, 17.3876132 ,
       40.11119622,  7.14522177, 16.99265729, 45.45324566, 74.56784605,
       43.09383959, 61.04786746, 87.17960751, 74.44505439, 18.65084295,
       99.51289377, 29.27563774, 36.9489187 , 69.70084318, 84.40983129,
        5.7664061 , 49.68378522,  6.49616775, 20.33006918, 50.09907554,
       83.34364397, 37.05294634, 12.79339026, 10.58973368, 21.6239142 ,
       78.84970592, 96.94095881, 21.51509033, 55.77458248, 23.81003763,
       54.28000233, 48.95856904, 21.68139497, 72.36546215, 13.45042596,
       65.87906198, 35.03094855, 59.49349814, 68.67686645, 41.66220116,
       31.60008374, 45.96923812, 48.57391275,  9.08477463, 87.99809366,
       67.35043164,  9.19879592, 61.42631567, 83.6619045 , 55.57224   ,
       31.0432287 , 61.52535171, 64.76013293, 73.27338152, 25.14989124,
       96.60018478, 71.59313233, 16.39143373, 44.88795499,  7.90956972,
        6.97889107,  4.82132035, 22.26417738, 56.82375807, 68.50050271,
       86.14845363, 17.34614293,  5.32007262, 34.47644654, 87.13079281,
       77.47999774,  1.56551166, 18.49369321, 63.1101245 , 71.54810808,
       35.55086082,  6.3984811 , 19.6039435 , 42.3651855 , 81.18166171,
       70.09551017, 98.74088831, 60.70482471, 43.15029372, 80.17166723,
       64.77539672, 51.60535873, 18.75972565, 14.70390951, 32.85713429,
       19.38426013, 20.3684921 , 40.90413287, 45.86530814, 45.66396162,
       24.69817994, 38.31699754, 57.98211265, 50.48380773, 79.46350733,
       54.63007228, 70.14693685, 27.92736051, 11.43543554, 35.83633503,
       95.62705509, 16.73306104, 76.08597741, 50.11197202, 65.68100641,
       29.71843939, 25.23307298, 78.67617853, 31.98467001, 23.97365546,
       89.59994834, 37.63395342,  2.96961115, 57.97072711, 62.26512427,
       56.2515885 , 64.2837622 , 94.34627969, 56.60736847, 81.56672734,
       32.32386756, 72.85516989, 83.18725764,  4.59984146,  1.38751422,
       41.65215153, 50.07259814, 66.67160285,  2.50370342, 64.6366619 ,
       67.07684459, 41.72664936, 46.1253507 , 14.68000585, 26.04111695,
       94.49886184, 97.63546236, 14.47316369, 31.61617558, 74.85657254,
        4.64385307, 79.62123644, 14.29151063, 86.07578054, 17.85661213,
       75.86175661, 19.03722359, 47.45847922, 44.76144711, 68.35717977,
       57.79181449, 48.94988605, 87.8952511 , 83.59498738, 27.11092494,
       10.97065824, 36.26526079,  8.51978637, 59.14597944, 66.7805457 ,
        9.28059605, 63.55097773, 57.89951038, 52.25668201,  3.56072168,
       99.25550204, 27.12247024, 56.92944115,  8.2407792 , 99.6891544 ,
       87.56501635, 62.44997171, 86.38682279, 19.43460233,  3.14378723,
       47.87425386, 33.48502015, 38.62086131,  8.23149698, 54.34844241,
       63.01318139, 71.96430418, 66.32180386, 49.47464518, 37.19924996,
       65.71051846, 33.35617398, 59.46516912, 85.52280802, 36.70575984,
       44.51836014, 93.93231185, 23.01115551, 64.88753884,  3.61334562,
       54.89744955, 22.42013747, 14.71828514, 55.11810624, 40.97701055,
       47.06229558,  2.2217036 , 24.71460499, 45.06619492, 94.03279365,
       87.67414859, 82.84190871, 85.17412199, 33.25785871, 85.3638721 ,
       70.64978888, 99.35601861, 56.54599237, 89.99833695,  3.09170443,
       10.00274   , 85.04804206, 93.89057617, 89.12402373, 45.8475171 ,
        8.03709905, 42.53276954, 18.00520841,  3.7178294 , 38.56253136,
       79.12369499, 39.13321   , 93.44635966, 52.42024022, 21.30867617,
       66.40118505, 95.61290953, 50.03274331, 49.1125294 , 20.90812664,
       56.59957415, 50.08879747, 80.38486955,  3.02201761, 28.49658868,
       30.14644234, 59.36285782, 57.86428312, 12.25886645, 65.38937234,
       41.33050714, 18.44165249, 48.42497057,  1.14944548, 19.1743719 ,
       84.19964946,  7.7469167 ,  6.10625125, 51.18263546, 83.6975842 ,
       55.85796097, 27.04893656, 26.19856548, 11.8535466 , 52.4748142 ,
       84.91807418, 85.86697268, 62.20420701, 29.59785955, 27.79589899,
       24.63579738, 83.64286174, 60.79767644,  6.20407973, 94.17090345,
       43.54076933,  6.2051043 , 39.07082802, 41.78185403, 30.39495363,
       19.15096405,  2.69322427, 72.06481206, 75.06809719, 26.45005555,
       47.88251433, 98.74032854, 25.49061502, 65.20063982, 35.16300959,
       42.10715761, 24.64126519,  8.18617163, 10.24602466, 52.74685898,
        2.75594008, 59.10535195, 75.66971501, 33.69602243, 34.92743844,
       40.25394634, 63.2957292 , 12.28862406, 28.14987435, 11.5151227 ,
       39.08707049, 63.59645614, 24.44120249, 99.80583828, 25.62090352,
       93.81193858,  8.09220424, 17.46323503,  1.74000558, 96.42033897,
        5.66300064, 47.71337781, 17.40662343, 96.64435208, 53.37254839,
       64.52837922,  5.23371851,  1.29283263, 66.27836296, 51.63700316,
       45.47032894,  8.75103626, 44.56268353, 19.07439051, 20.14779582,
       47.97574935, 13.36628231, 56.35006883, 28.44869806, 29.1281486 ,
       87.66009133, 77.16929808, 54.57607434, 74.50309759, 11.74922708,
       38.20017765, 99.66830776, 18.54579463, 74.40269246,  7.855947  ,
       53.87274682, 29.73729941, 28.04191426, 94.8896243 , 49.56156645,
       75.48010314, 26.86759302, 46.57732059,  8.02985784, 91.48398197,
       16.29117033, 89.58932261,  9.5871586 , 38.2915977 , 77.98330846,
       44.85002239, 16.33596721, 74.40033673, 91.94016506, 82.80698606,
       16.22325645, 30.573249  , 79.90832538, 26.37352868, 50.32985054,
       47.55788394, 56.16882955, 79.05365007,  6.7801358 ,  7.81196861,
       77.39967699,  3.69773911, 76.63693154, 39.55164058, 60.68877877,
       68.59145285, 58.38050482,  3.18368314, 29.71085273, 85.49051112,
       21.35916038, 71.844018  , 14.99554368, 93.22699861, 68.08744137,
       12.85577159, 50.93573435, 69.36937407, 34.33822695, 22.11747726,
       90.21680824, 40.2379009 , 29.23733694, 21.98018618, 96.82100962,
       55.32091595, 12.40274651, 90.86544238, 65.40386921,  8.06289287,
       65.78409758, 93.13380758,  5.42317683, 59.07558335, 98.96586781,
       54.80339182, 39.60287275, 56.18386298, 92.81543858,  3.87482325,
       41.25124225, 43.84431838, 70.33078004, 75.73797717, 98.42821578,
       41.91353229, 79.98390928, 58.08329528, 33.76337991, 77.38531405,
       64.7251972 , 12.53822327, 19.77478033, 25.77294386, 10.95266965,
       44.51754462, 88.5411431 , 31.46143194, 56.2276079 , 52.45902445,
       79.64914337,  8.86973395, 15.5254339 , 79.88077211, 92.27362861,
       66.64600654, 59.28294778, 27.21550683, 83.61392034, 99.6373405 ,
       65.2835941 ,  9.42187648, 62.16667954, 66.47919706, 88.85188085,
       19.94233069, 16.02491955,  5.13160694, 90.41446172, 46.51652146,
       73.50264457, 23.28691005, 87.86653293,  3.8455693 , 32.38833387,
        9.2212276 , 55.03879219, 81.25559635, 70.48568071, 31.79451825,
       16.18046927, 86.90464296, 53.34268569,  3.65594635, 98.20241017,
       13.77637946, 46.7353935 , 17.15140105, 86.5356479 , 50.2598533 ,
       20.43412863, 53.59844604, 57.77599851, 83.53473095, 40.11506401,
       25.89078094, 24.28535458, 24.92243151, 83.74394449, 10.11528341,
       52.93960027, 91.01925758, 59.56375757, 54.76188626, 61.51373872,
       32.43465741,  3.77117334, 46.8978049 , 12.98544582, 36.99223633,
       45.21539441, 15.22161342, 72.40518175, 72.41843639, 58.90473317,
       72.5890378 , 16.46430955, 90.4342883 , 87.73469279, 54.56421856,
        4.26485541, 71.32498484, 99.94602465, 42.22872283, 32.30736669,
       47.58122681, 62.49228041, 35.10941217, 31.89639965,  6.34474852,
       35.58060656, 73.07114728, 68.17348495, 57.26516902, 30.56458375,
       94.3271233 , 49.42851336, 57.65626142, 24.73011729,  8.42124727,
       14.20139345, 60.98562201, 98.24803929, 21.89786   , 83.56972858,
        3.12535535, 39.94414533,  6.32898933, 64.23596802, 81.45204079,
       52.93611274, 31.76507648, 38.79366311, 71.5583921 , 96.08875163,
       66.00506454, 55.27174613, 22.46966417, 87.51607871,  1.64111593,
       64.42747212, 47.83241812, 36.1242987 , 15.8081605 , 77.55291684,
       91.96318065, 91.05956848, 57.29985102, 95.32181478, 99.8823126 ,
       86.37286271, 56.40791176, 73.55787842,  7.56436077, 70.03593852,
       88.39919574,  4.89587125, 45.46022658, 33.98150445, 61.7272028 ,
       17.82344459, 22.88653551, 93.66738724, 56.19055164, 17.70935917,
        6.64567486, 62.19637231, 49.72995256, 98.37003077, 21.64758545,
       40.80493658, 66.59251947, 77.63358615, 83.70508851, 80.61443958,
       38.28247529, 16.3357331 , 57.48447666, 60.74094651, 93.39791165,
       15.56690311, 90.36589129, 68.37970976, 26.96299066, 13.71015972,
       41.21352714, 29.8662409 , 87.48862827, 63.89564043, 44.63888622,
       18.28795051, 64.48927069, 28.42082603, 73.65363097,  6.70609152,
       82.90590461, 69.62140175, 64.65028112, 22.2925798 , 41.66131939,
       23.87927006, 44.10806907, 22.47585995, 39.21285965,  1.11974501,
       42.53419819, 41.09561402, 20.40599137, 55.35142759, 89.13795288,
       17.45081419, 18.54479226, 30.80991626, 56.42224495, 26.4793195 ,
       86.94845117, 84.47658781,  3.24369641, 90.39122503,  2.92649437,
       46.23419261, 81.14749893, 87.71536487, 23.24675637, 96.59554432,
       25.53841141, 70.84399124, 52.98972389, 10.07303494, 24.6346519 ,
       28.04447805, 55.69279402, 52.67059962, 24.9350412 , 99.46961758,
       83.112294  , 30.45411536, 30.84977207, 15.7719528 , 29.27193519,
        1.64623268, 90.18176343, 40.10886326, 79.20096835, 51.56698577,
       41.59768375, 77.14204326, 85.90847639, 31.04709168, 90.3230232 ,
       10.87380926, 67.0394817 , 56.66252812, 96.61858224, 85.88970919,
       72.05754913, 63.26311651, 74.9018529 , 49.74270339, 18.84375994,
       33.17461334, 77.22661233,  6.26149425, 47.7702115 , 45.72890781,
       21.42171457, 88.29992806, 74.43354296, 47.31121185, 10.82323861,
       81.66954742, 12.65694249, 43.14068384, 60.64046064, 93.8301048 ,
       93.40612297, 75.31045808, 22.88896575, 62.20579194, 52.47719097,
       75.74638842, 57.09017957, 16.01013935, 40.45602241, 28.08707033,
        3.32189932,  7.1047325 , 57.28633103, 44.58950077, 99.13647005,
       80.11692919, 46.86586491, 86.75503479,  5.97410468, 25.56777188,
        1.77784099, 96.00301742, 36.50673874, 12.74217498, 69.66653937,
       78.1698346 , 80.37704369, 26.17735274, 26.65215258, 63.89452754,
       63.90021414, 83.15155298, 50.10231521, 31.96065548, 30.57195932,
       45.43380052, 59.00739884, 84.98558786, 56.64515121, 69.67883941,
       64.6380847 , 85.22362803, 31.12877326, 38.10120473, 34.01953441,
       18.65631972, 49.9205621 , 65.14924644, 83.33546151, 54.95444225,
       14.40323783, 20.59168304, 44.35358618, 18.90651413, 71.702559  ,
       98.24336724, 89.59438044, 99.29710122, 20.15822363, 80.60084463,
       54.56259029,  8.83560684,  7.22936538, 69.16278187, 69.96548724,
       23.06759342,  1.58538384, 39.46185794, 35.31879051, 20.75146829,
       56.47978548, 61.06127228, 38.58333936, 14.42161849, 28.83585562,
       97.48865104,  3.86831463, 76.76411071,  3.56578924, 98.88645704,
       72.50549886, 75.72820711, 32.91853035, 78.76969143, 40.59566187,
       88.4699848 , 73.40073481, 50.91264413, 10.30612472, 33.00373667,
       15.20430923, 72.12693361,  6.23302807, 21.80681407, 57.54196916,
       86.43302124, 13.3845644 , 98.03892823,  9.69915268, 77.81379842,
       61.1835003 , 77.25399396, 74.11172373, 78.64313386, 80.79946592,
       84.64815042, 29.46470141, 37.06295501, 26.82221677, 46.58756079,
       86.05582485, 10.38495461, 44.55245916, 53.09159304, 78.96698761,
       96.33539231, 83.82124212, 53.95476464, 86.34679527,  7.70845566,
       99.44248726, 83.50163231, 20.10217191,  5.45881175, 59.51302923,
       11.14184551, 72.96102572,  3.43832032, 54.65950816, 26.27322823,
       56.35851965, 67.35217942, 42.32976193, 35.20358351, 64.24487579,
       15.84714154, 53.59861873,  8.7144505 , 72.61582421, 19.75783675,
       96.36296036, 86.17127148, 22.03297913, 47.494071  , 74.39209691,
       93.58468941, 11.9958784 , 47.70313334, 72.67573427, 76.63572481,
       73.43177655,  3.10025166, 75.60515229, 80.3330654 , 24.27673022,
       11.54316765, 88.07399545, 66.46103735, 62.58523589, 88.4306459 ,
       90.7880466 , 87.65157705, 92.03639416, 31.53478848, 63.37901866,
       17.34332703, 37.54530783, 93.31053467, 66.89076971, 99.19193274,
        8.08186271, 37.99791694, 70.57778349, 62.02007104, 97.28937623,
       50.33386385,  5.75687569, 79.62122131, 17.2318997 , 82.74878298,
       30.42622844, 92.27500875, 44.59699775,  4.8800591 , 24.76494436,
       55.35233022, 29.87987701, 61.95842155,  9.92373024, 59.19439276,
       20.95857293, 12.00066272, 30.83558418, 79.38678848, 15.38803485,
       98.85561857, 64.7692063 , 19.6354469 , 36.26508768, 23.01844824,
       72.25214516, 33.71187293, 30.58416614, 12.80680201, 87.69795666,
       36.08694011, 73.52706006,  7.90292494,  7.03203889, 23.22484533,
       79.51506032,  7.94831215,  3.10463556, 88.25446126, 43.47520596,
        1.43733484, 55.61937573, 75.22342819, 20.92045807, 22.67867298,
       47.00532956, 96.20274398, 88.04112192, 15.37483257, 19.30859962,
       46.92050399, 40.15017554, 59.91674989, 69.96209068, 80.86643615,
       19.35707492, 79.91576797, 33.72789588, 30.79270487, 41.04458144,
       11.8241167 , 53.71701887, 43.57322439, 57.79489166, 91.10208367,
       31.31423395, 36.78762008, 60.04825248, 29.08099561, 11.22653143,
       84.70852581, 83.01011568, 52.34813412, 58.36945663, 68.64690967])

In [21]:
# rounding float numbers to 2 decimal values
f_val = [round(x,2) for x in f_val]
f_val

[28.59,
 62.64,
 18.84,
 18.77,
 62.38,
 71.21,
 74.16,
 46.63,
 51.42,
 87.6,
 21.43,
 77.7,
 98.49,
 44.1,
 93.4,
 46.69,
 78.17,
 91.62,
 72.9,
 91.88,
 1.71,
 29.74,
 11.45,
 32.65,
 87.98,
 65.8,
 38.13,
 2.58,
 30.63,
 10.53,
 21.21,
 80.11,
 51.03,
 77.11,
 29.09,
 4.26,
 81.07,
 11.07,
 17.98,
 7.54,
 37.67,
 32.19,
 41.19,
 24.43,
 64.81,
 21.94,
 68.78,
 85.89,
 61.15,
 14.35,
 15.17,
 58.39,
 30.29,
 12.29,
 64.9,
 24.7,
 30.03,
 45.29,
 56.12,
 36.17,
 7.2,
 69.26,
 49.44,
 35.69,
 67.38,
 53.99,
 81.72,
 87.56,
 50.61,
 17.39,
 40.11,
 7.15,
 16.99,
 45.45,
 74.57,
 43.09,
 61.05,
 87.18,
 74.45,
 18.65,
 99.51,
 29.28,
 36.95,
 69.7,
 84.41,
 5.77,
 49.68,
 6.5,
 20.33,
 50.1,
 83.34,
 37.05,
 12.79,
 10.59,
 21.62,
 78.85,
 96.94,
 21.52,
 55.77,
 23.81,
 54.28,
 48.96,
 21.68,
 72.37,
 13.45,
 65.88,
 35.03,
 59.49,
 68.68,
 41.66,
 31.6,
 45.97,
 48.57,
 9.08,
 88.0,
 67.35,
 9.2,
 61.43,
 83.66,
 55.57,
 31.04,
 61.53,
 64.76,
 73.27,
 25.15,
 96.6,
 71.59,
 16.39,
 44.89,
 7.91,
 6.98,
 4.82,
 22.26,
 56.82,
 68.5,
 86.15,
 17.35,
 5.32,
 34.48,
 87.13,
 77.48,
 1.57,
 18.49,
 63.11,
 71.55,
 35.55,
 6.4,
 19.6,
 42.37,
 81.18,
 70.1,
 98.74,
 60.7,
 43.15,
 80.17,
 64.78,
 51.61,
 18.76,
 14.7,
 32.86,
 19.38,
 20.37,
 40.9,
 45.87,
 45.66,
 24.7,
 38.32,
 57.98,
 50.48,
 79.46,
 54.63,
 70.15,
 27.93,
 11.44,
 35.84,
 95.63,
 16.73,
 76.09,
 50.11,
 65.68,
 29.72,
 25.23,
 78.68,
 31.98,
 23.97,
 89.6,
 37.63,
 2.97,
 57.97,
 62.27,
 56.25,
 64.28,
 94.35,
 56.61,
 81.57,
 32.32,
 72.86,
 83.19,
 4.6,
 1.39,
 41.65,
 50.07,
 66.67,
 2.5,
 64.64,
 67.08,
 41.73,
 46.13,
 14.68,
 26.04,
 94.5,
 97.64,
 14.47,
 31.62,
 74.86,
 4.64,
 79.62,
 14.29,
 86.08,
 17.86,
 75.86,
 19.04,
 47.46,
 44.76,
 68.36,
 57.79,
 48.95,
 87.9,
 83.59,
 27.11,
 10.97,
 36.27,
 8.52,
 59.15,
 66.78,
 9.28,
 63.55,
 57.9,
 52.26,
 3.56,
 99.26,
 27.12,
 56.93,
 8.24,
 99.69,
 87.57,
 62.45,
 86.39,
 19.43,
 3.14,
 47.87,
 33.49,
 38.62,
 8.23,
 54.35,
 63.01,
 71.96,
 66.32,
 49.47,
 37.2,
 65.71,
 33.36,
 59.47,
 85.52,
 36.71,
 44.52,
 93.93,
 23.01,
 64.89,
 3.61,
 54.9,
 22.42,
 14.72,
 55.12,
 40.98,
 47.06,
 2.22,
 24.71,
 45.07,
 94.03,
 87.67,
 82.84,
 85.17,
 33.26,
 85.36,
 70.65,
 99.36,
 56.55,
 90.0,
 3.09,
 10.0,
 85.05,
 93.89,
 89.12,
 45.85,
 8.04,
 42.53,
 18.01,
 3.72,
 38.56,
 79.12,
 39.13,
 93.45,
 52.42,
 21.31,
 66.4,
 95.61,
 50.03,
 49.11,
 20.91,
 56.6,
 50.09,
 80.38,
 3.02,
 28.5,
 30.15,
 59.36,
 57.86,
 12.26,
 65.39,
 41.33,
 18.44,
 48.42,
 1.15,
 19.17,
 84.2,
 7.75,
 6.11,
 51.18,
 83.7,
 55.86,
 27.05,
 26.2,
 11.85,
 52.47,
 84.92,
 85.87,
 62.2,
 29.6,
 27.8,
 24.64,
 83.64,
 60.8,
 6.2,
 94.17,
 43.54,
 6.21,
 39.07,
 41.78,
 30.39,
 19.15,
 2.69,
 72.06,
 75.07,
 26.45,
 47.88,
 98.74,
 25.49,
 65.2,
 35.16,
 42.11,
 24.64,
 8.19,
 10.25,
 52.75,
 2.76,
 59.11,
 75.67,
 33.7,
 34.93,
 40.25,
 63.3,
 12.29,
 28.15,
 11.52,
 39.09,
 63.6,
 24.44,
 99.81,
 25.62,
 93.81,
 8.09,
 17.46,
 1.74,
 96.42,
 5.66,
 47.71,
 17.41,
 96.64,
 53.37,
 64.53,
 5.23,
 1.29,
 66.28,
 51.64,
 45.47,
 8.75,
 44.56,
 19.07,
 20.15,
 47.98,
 13.37,
 56.35,
 28.45,
 29.13,
 87.66,
 77.17,
 54.58,
 74.5,
 11.75,
 38.2,
 99.67,
 18.55,
 74.4,
 7.86,
 53.87,
 29.74,
 28.04,
 94.89,
 49.56,
 75.48,
 26.87,
 46.58,
 8.03,
 91.48,
 16.29,
 89.59,
 9.59,
 38.29,
 77.98,
 44.85,
 16.34,
 74.4,
 91.94,
 82.81,
 16.22,
 30.57,
 79.91,
 26.37,
 50.33,
 47.56,
 56.17,
 79.05,
 6.78,
 7.81,
 77.4,
 3.7,
 76.64,
 39.55,
 60.69,
 68.59,
 58.38,
 3.18,
 29.71,
 85.49,
 21.36,
 71.84,
 15.0,
 93.23,
 68.09,
 12.86,
 50.94,
 69.37,
 34.34,
 22.12,
 90.22,
 40.24,
 29.24,
 21.98,
 96.82,
 55.32,
 12.4,
 90.87,
 65.4,
 8.06,
 65.78,
 93.13,
 5.42,
 59.08,
 98.97,
 54.8,
 39.6,
 56.18,
 92.82,
 3.87,
 41.25,
 43.84,
 70.33,
 75.74,
 98.43,
 41.91,
 79.98,
 58.08,
 33.76,
 77.39,
 64.73,
 12.54,
 19.77,
 25.77,
 10.95,
 44.52,
 88.54,
 31.46,
 56.23,
 52.46,
 79.65,
 8.87,
 15.53,
 79.88,
 92.27,
 66.65,
 59.28,
 27.22,
 83.61,
 99.64,
 65.28,
 9.42,
 62.17,
 66.48,
 88.85,
 19.94,
 16.02,
 5.13,
 90.41,
 46.52,
 73.5,
 23.29,
 87.87,
 3.85,
 32.39,
 9.22,
 55.04,
 81.26,
 70.49,
 31.79,
 16.18,
 86.9,
 53.34,
 3.66,
 98.2,
 13.78,
 46.74,
 17.15,
 86.54,
 50.26,
 20.43,
 53.6,
 57.78,
 83.53,
 40.12,
 25.89,
 24.29,
 24.92,
 83.74,
 10.12,
 52.94,
 91.02,
 59.56,
 54.76,
 61.51,
 32.43,
 3.77,
 46.9,
 12.99,
 36.99,
 45.22,
 15.22,
 72.41,
 72.42,
 58.9,
 72.59,
 16.46,
 90.43,
 87.73,
 54.56,
 4.26,
 71.32,
 99.95,
 42.23,
 32.31,
 47.58,
 62.49,
 35.11,
 31.9,
 6.34,
 35.58,
 73.07,
 68.17,
 57.27,
 30.56,
 94.33,
 49.43,
 57.66,
 24.73,
 8.42,
 14.2,
 60.99,
 98.25,
 21.9,
 83.57,
 3.13,
 39.94,
 6.33,
 64.24,
 81.45,
 52.94,
 31.77,
 38.79,
 71.56,
 96.09,
 66.01,
 55.27,
 22.47,
 87.52,
 1.64,
 64.43,
 47.83,
 36.12,
 15.81,
 77.55,
 91.96,
 91.06,
 57.3,
 95.32,
 99.88,
 86.37,
 56.41,
 73.56,
 7.56,
 70.04,
 88.4,
 4.9,
 45.46,
 33.98,
 61.73,
 17.82,
 22.89,
 93.67,
 56.19,
 17.71,
 6.65,
 62.2,
 49.73,
 98.37,
 21.65,
 40.8,
 66.59,
 77.63,
 83.71,
 80.61,
 38.28,
 16.34,
 57.48,
 60.74,
 93.4,
 15.57,
 90.37,
 68.38,
 26.96,
 13.71,
 41.21,
 29.87,
 87.49,
 63.9,
 44.64,
 18.29,
 64.49,
 28.42,
 73.65,
 6.71,
 82.91,
 69.62,
 64.65,
 22.29,
 41.66,
 23.88,
 44.11,
 22.48,
 39.21,
 1.12,
 42.53,
 41.1,
 20.41,
 55.35,
 89.14,
 17.45,
 18.54,
 30.81,
 56.42,
 26.48,
 86.95,
 84.48,
 3.24,
 90.39,
 2.93,
 46.23,
 81.15,
 87.72,
 23.25,
 96.6,
 25.54,
 70.84,
 52.99,
 10.07,
 24.63,
 28.04,
 55.69,
 52.67,
 24.94,
 99.47,
 83.11,
 30.45,
 30.85,
 15.77,
 29.27,
 1.65,
 90.18,
 40.11,
 79.2,
 51.57,
 41.6,
 77.14,
 85.91,
 31.05,
 90.32,
 10.87,
 67.04,
 56.66,
 96.62,
 85.89,
 72.06,
 63.26,
 74.9,
 49.74,
 18.84,
 33.17,
 77.23,
 6.26,
 47.77,
 45.73,
 21.42,
 88.3,
 74.43,
 47.31,
 10.82,
 81.67,
 12.66,
 43.14,
 60.64,
 93.83,
 93.41,
 75.31,
 22.89,
 62.21,
 52.48,
 75.75,
 57.09,
 16.01,
 40.46,
 28.09,
 3.32,
 7.1,
 57.29,
 44.59,
 99.14,
 80.12,
 46.87,
 86.76,
 5.97,
 25.57,
 1.78,
 96.0,
 36.51,
 12.74,
 69.67,
 78.17,
 80.38,
 26.18,
 26.65,
 63.89,
 63.9,
 83.15,
 50.1,
 31.96,
 30.57,
 45.43,
 59.01,
 84.99,
 56.65,
 69.68,
 64.64,
 85.22,
 31.13,
 38.1,
 34.02,
 18.66,
 49.92,
 65.15,
 83.34,
 54.95,
 14.4,
 20.59,
 44.35,
 18.91,
 71.7,
 98.24,
 89.59,
 99.3,
 20.16,
 80.6,
 54.56,
 8.84,
 7.23,
 69.16,
 69.97,
 23.07,
 1.59,
 39.46,
 35.32,
 20.75,
 56.48,
 61.06,
 38.58,
 14.42,
 28.84,
 97.49,
 3.87,
 76.76,
 3.57,
 98.89,
 72.51,
 75.73,
 32.92,
 78.77,
 40.6,
 88.47,
 73.4,
 50.91,
 10.31,
 33.0,
 15.2,
 72.13,
 6.23,
 21.81,
 57.54,
 86.43,
 13.38,
 98.04,
 9.7,
 77.81,
 61.18,
 77.25,
 74.11,
 78.64,
 80.8,
 84.65,
 29.46,
 37.06,
 26.82,
 46.59,
 86.06,
 10.38,
 44.55,
 53.09,
 78.97,
 96.34,
 83.82,
 53.95,
 86.35,
 7.71,
 99.44,
 83.5,
 20.1,
 5.46,
 59.51,
 11.14,
 72.96,
 3.44,
 54.66,
 26.27,
 56.36,
 67.35,
 42.33,
 35.2,
 64.24,
 15.85,
 53.6,
 8.71,
 72.62,
 19.76,
 96.36,
 86.17,
 22.03,
 47.49,
 74.39,
 93.58,
 12.0,
 47.7,
 72.68,
 76.64,
 73.43,
 3.1,
 75.61,
 80.33,
 24.28,
 11.54,
 88.07,
 66.46,
 62.59,
 88.43,
 90.79,
 87.65,
 92.04,
 31.53,
 63.38,
 17.34,
 37.55,
 93.31,
 66.89,
 99.19,
 8.08,
 38.0,
 70.58,
 62.02,
 97.29,
 50.33,
 5.76,
 79.62,
 17.23,
 82.75,
 30.43,
 92.28,
 44.6,
 4.88,
 24.76,
 55.35,
 29.88,
 61.96,
 9.92,
 59.19,
 20.96,
 12.0,
 30.84,
 79.39,
 15.39,
 98.86,
 64.77,
 19.64,
 36.27,
 23.02,
 72.25,
 33.71,
 30.58,
 12.81,
 87.7,
 36.09,
 73.53,
 7.9,
 7.03,
 23.22,
 79.52,
 7.95,
 3.1,
 88.25,
 43.48,
 1.44,
 55.62,
 75.22,
 20.92,
 22.68,
 47.01,
 96.2,
 88.04,
 15.37,
 19.31,
 46.92,
 40.15,
 59.92,
 69.96,
 80.87,
 19.36,
 79.92,
 33.73,
 30.79,
 41.04,
 11.82,
 53.72,
 43.57,
 57.79,
 91.1,
 31.31,
 36.79,
 60.05,
 29.08,
 11.23,
 84.71,
 83.01,
 52.35,
 58.37,
 68.65]